/* @import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@300;400;500;600;700&display=swap'); */
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Josefin Sans", sans-serif;
}

:root {
  --white: #fff;
  --whitesmoke: #f9f9f9;
  --light-grey: #ececec;
  --grey: #c4c4c4;
  --medium-grey: #a7a7a7;
  --deep-grey: #343434;
  --black: #000000;
  --blue: #038bbb;
  --dark-blue: #03223f;
  --black-blue: #010d23;
  --red: #cf3c3f;
}

body {
  background-image: url(../images/img/register-wallpaper.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  /* background-position: fixed; */
}

.main-box {
  position: relative;
  background-color: var(--black);
  margin: 0 auto;
  max-width: 100%;
  width: 50rem;
  height: 100%;
  box-shadow: 25px 25px 100px #4a4a4a, -25px -25px 100px #888888;
  border-radius: 0 0 1rem 1rem;
}

.img-logo {
  margin-left: 10rem;
  margin-bottom: 5rem;
}

.box-inputs {
  text-decoration: none;
  max-width: 50rem;
  width: 40rem;
  margin-left: 25rem;
  transform: translate(-49%, -39%);
}

.box-inputs .inputs {
  width: 100%;
  height: 45px;
  border: 1px solid #ccc;
  padding-left: 10px;
  margin: 10px 0;
  transition: 0.3s;
}

.box-inputs .inputs:focus {
  outline: 0;
  box-shadow: 5px 5px 20px #949494, -5px -5px 20px #ffffff;
  transition: 0.1s;
}

.box-inputs input[type="submit"] {
  margin-top: 0.5rem;
  width: 100%;
  height: 40px;
  cursor: pointer;
  background-color: white;
  color: black;
  border: 0;
  transition: 0.3s;
  text-transform: uppercase;
}

.box-inputs input[type="submit"]:hover {
  box-shadow: 5px 5px 20px #949494, -5px -5px 20px #ffffff;
  transition: 0.3s;
  font-size: 1rem;
}

button .button-submit {
}

section #message {
  padding-top: 1rem;
  text-align: center;
  align-items: center;
  color: white;
}

#back-to-login {
  text-align: center;
  align-items: center;
  margin-top: 2rem;
}

#back-to-login a {
  text-decoration: none;
  color: white;
  transition: 0.2s;
}

#back-to-login a:hover {
  font-size: 1.2rem;
  transition: 0.2s;
}
