@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

* {
  margin: 0;
  padding: 0; 
  box-sizing: border-box; 
  font-family: 'Josefin Sans', sans-serif;;
}

:root {
  --white: #FFF;
  --whitesmoke: #F9F9F9;
  --light-grey: #ECECEC;
  --grey: #C4C4C4;
  --medium-grey: #A7A7A7;
  --deep-grey: #343434;
  --black: #000000;
  --blue: #038BBB;
  --dark-blue: #03223F;
  --black-blue: #010D23;
  --red: #CF3C3F;
}

body {
  background-color: black;
  font-family: 'Josefin Sans', sans-serif;
  margin: 0 auto;
}

nav {
  max-width: 120rem;
  width: 100%;
  height: 12rem;
  background-color: white;
  display: flex;
  flex-direction: row;
}

nav div {
  margin-inline: 8rem;
}

.menu-links{
  margin-block: 6rem;
  color: black;
}

.menu-links a {
  text-decoration: none;
  color: black;
  font-size: 1.5rem;
  text-transform: uppercase;
  transition: 0.2s;
}

.menu-links a:hover {
  font-size: 1.6rem;
  transition: 0.2s;
}

.menu-logo img{
  max-width: 12rem;
  max-height: 12rem;
}

/*CONTAINER*/

.container {
  margin-top: 18rem;
  height: 50rem;
  color: white;
  font-size: 3rem;
}

.content {
  text-align: center;
  align-items: center;
}

.content span:first-child {
  font-size: 9rem;
}

/*CONTAINER*/

/* .container {
  background-color: #010D23;
  max-width: 100vw;
  width: 190rem;
  height: 20rem;
} */

/*FOOTER*/

footer {
  max-width: 120rem;
  width: 100%;
  /* max-height: 25rem; */
  height: 40vh;
  background-color: rgb(3, 34, 63);
  color: white;
  display: flex;
  flex-direction: row;
}

.footer-logo img {
  margin-top: 4rem;
  margin-inline: 8rem;
  max-height: 100vh;
  width: 16rem;
  /* height: 16rem; */
}

.footer-sections {
  /* margin: 0 auto; */
  text-transform: uppercase;
  width: 16rem;
  height: 4rem;
  margin-block: 4rem;
  margin-inline: 4rem;
  font-size: 1.5rem;
}

.footer-sections li {
  /* text-align: justify; */
  font-size: 1rem;
  align-items: center;
  text-transform: none;
  list-style: none;
  margin-block: 1.5rem;
}

.footer-sections a {
  text-decoration: none;
  color: white;
  transition: 0.2s;
}

.footer-sections a:hover {
  font-size: 1.2rem;
  transition: 0.2s;
}
